@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000;
}

span#logo {
  margin-top: 10px;
  line-height: 30px;
  user-select: none;
  font-weight: 900;
  font-size: 40px;
  flex-grow: 1;
  letter-spacing: 4px;

  color: #BBBBBB;
  vertical-align: middle;
  transition: .3s all ease;
}

span#logo:hover {
  color: #FFFFFF;
  cursor: pointer;
  transition: .3s all ease;
}

.empty {
  flex-grow: 17;
}
/*.bound-box {
  margin-left: 10%;
  margin-right: 10%;
}*/

/*#about-btn {
  flex-grow: 1;
}

#events-btn {
  flex-grow: 1;
}

#ctfs-btn {
  flex-grow: 1;
}

#archive-btn {
  flex-grow: 1;
}

#contact-btn {
  flex-grow: 1;
}*/

.menu-btn {
  /*margin-top: 15px;*/
  padding-top: 15px;
  flex-grow: 1;
  vertical-align: middle;
  /*padding-top: .5%;*/
  text-align: center;
  letter-spacing: -1px;
  color: #3BBFF7;
  transition: all ease;
}

.menu-btn:hover {
  background-color: #2882A8;
  background: -webkit-linear-gradient(top, #184D63, #2882A8);
  color: #DFDFDF;
  cursor: pointer;

  transition: all ease;
}

#contact-btn {
  flex-grow: 1;
  padding-right: 1%;
}

.row {
  display: inline-flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.row.top {
  height: 65%;
}

.row.bottom {
  height: 35%;
}

.container {
  padding: 10px;

  /*border-style: solid;
  border-color: #333333;
  border-width: 1px;*/
  overflow: hidden;
}

.content {
  width: 100%;
  height: 95%;
}

#header {
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  justify-content: flex-start;

  font-family: 'Bungee Hairline', cursive;
  font-weight: 900;
  line-height: 25px;
  font-size: 25px;

  background-color: #184D63;
  color: white;
  z-index: 100;
}

#footer {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  position: fixed;
  bottom: 25px;
  left: 0;
  width: 100%;
  height: 40px;
  justify-content: center;

  font-family: 'Bungee Hairline', cursive;
  font-weight: 900;
  font-size: 25px;

  background-color: #184D63;
  color: white;
  z-index: 100;
}

#main {
  background-color: #0A0A0A;
  flex-grow: 1;
}

#particles {
  height: 100%;
  width: 100%;
}


#appendable-root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 70px;
  height: 86%;
  /*opacity: 1;*/
  z-index: 5;
}

#about {
  position: relative;
  height: 600px;
  width: 800px;

  margin-bottom: 50px;
  border-radius: 2px;
  z-index: inherit;
}

#main-event {
  position: relative;
  height: 75%;
  width: 45%;
  /*margin-left: 50px;*/
  margin-bottom: 50px;
  border-radius: 2px;
  z-index: inherit;
}

#events-list {
  position: relative;
  height: 75%;
  width: 20%;
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 2px;
  z-index: inherit;
}

#contact-info {
  position: relative;
  height: 500px;
  width: 300px;
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 2px;
  z-index: inherit;
}

#contact-form {
  position: relative;
  height: 500px;
  width: 800px;
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 2px;
  z-index: inherit;
}

#archive {
  position: relative;
  height: 500px;
  width: 800px;
  /*margin-left: 50px;*/
  margin-bottom: 50px;
  border-radius: 2px;
  z-index: inherit;
}

#ctfs-current {
  position: relative;
  height: 75%;
  width: 20%;
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 2px;
  z-index: inherit;
}

#ctfs-list {
  position: relative;
  height: 75%;
  width: 45%;
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 2px;
  z-index: inherit;
}

.component-header {
  height: 50px;
  background-color: #184D63;
  z-index: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-divider {
  height: 2px;
  width: 100%;
  /*background-color: #3BBFF7;*/
  background-color: #184D63;
  z-index: inherit;
}

.component-content {
  /*flex-grow: 50;*/
  height: calc(100% - 50px);
  /*background-color: #184D63;*/
  z-index: inherit;
  background-color: rgba(24,77,99,.5);
  /*overflow: scroll;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.slider {
  position: absolute;
  top: 10%;
  /*left: 10%;*/
  height: 90%;
  width: 90%;
}

#carousel-about {
  /*position: absolute;*/
  /*margin-left: 5%;*/
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  width: calc(100% - 80px);
  height: 60%;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.carousel-object {
  display: none;
  width: 100%;
  height: 100%;
  /*overflow: scroll;*/
}

.active {
  display: inline-block;
  visibility: visible;
}

#events-calendar {
  /*z-index: 10;
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;*/
  /*height: 90%;
  width: 90%;*/
  height: 100%;
  border: 0;
  width: 100%;
  height: calc(100%);
}

#fb-like {
  z-index: 10;
}

.g-cal {
  /*margin-left: 25px;*/
  margin-top: 25px;
}

.y-chan {
  /*margin-left: 25px;*/
  margin-top: 25px;
}

.obj-footer {
  margin: 10px;
}

.fa-custom-hover {
  color: #BBBBBB;
  transition: .2s all ease;
}

.fa-custom-hover:hover {
  color: #FFFFFF;
  transition: .2s all ease;
}

.content-heading {
  font-family: 'Bungee Hairline', cursive;
  font-weight: 900;
  line-height: 25px;
  font-size: 25px;
  color: #BBBBBB;
}

.blurb {
  /*position: absolute;*/
  /*top: 75%;*/
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  line-height: 26px;
  font-size: 16px;
  color: #BBBBBB;
}

.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.credit-text {
  font-size: 12px;
  color: #BBBBBB;
}

#personal-branding {
  color: white;
  background-color: #000000;

  padding-left: 5px;
  padding-right: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  height: 25px;
  justify-content: center;
  z-index: 100;
}

#contact-form-wrapper {
  font-size: 12px;
  font-weight: 900;
  color: white;
  background: rgba(0, 0, 0, 0);
  display: flex;
}

label {
  margin-top: 5px;
}

.form-text {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  line-height: 16px;
  font-size: 14px;
}

.form-message {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  line-height: 16px;
  font-size: 14px;
}

.form-submit {
  margin-top: 10px;
  background-color: #184D63;
  border: none;
  color: white;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  height: 30px;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.form-submit:hover {
  cursor: pointer;
  background-color: #2882A8;
}

.css-load {
  padding-top: 10px;
}



/*
Loading css animation
*/
#circleG{
	width:45px;
	margin:auto;
}

.circleG{
	background-color:rgb(40,130,168);
	float:left;
	height:10px;
	margin-left:5px;
	width:10px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:1.2675s;
		-o-animation-duration:1.2675s;
		-ms-animation-duration:1.2675s;
		-webkit-animation-duration:1.2675s;
		-moz-animation-duration:1.2675s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:6px;
		-o-border-radius:6px;
		-ms-border-radius:6px;
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
}

#circleG_1{
	animation-delay:0.2495s;
		-o-animation-delay:0.2495s;
		-ms-animation-delay:0.2495s;
		-webkit-animation-delay:0.2495s;
		-moz-animation-delay:0.2495s;
}

#circleG_2{
	animation-delay:0.5955s;
		-o-animation-delay:0.5955s;
		-ms-animation-delay:0.5955s;
		-webkit-animation-delay:0.5955s;
		-moz-animation-delay:0.5955s;
}

#circleG_3{
	animation-delay:0.7585s;
		-o-animation-delay:0.7585s;
		-ms-animation-delay:0.7585s;
		-webkit-animation-delay:0.7585s;
		-moz-animation-delay:0.7585s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(255,255,255);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(255,255,255);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(255,255,255);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(255,255,255);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(255,255,255);
	}

	100%{}
}
